---
import Badge from "./badge.astro";

const values = [
  "Commitment",
  "Empathy",
  "Transparency",
  "Trust",
  "Responsibility",
  "Innovation",
  "Quality",
  "Teamwork",
  "Respect",
];
---

<section
  class="relative overflow-hidden bg-[#2F855A] text-white px-6 py-16 md:px-20 flex flex-col gap-16"
>
  <!-- Mission and Vision -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-12 text-center md:text-left">
    <div>
      <h2 class="text-4xl font-bold mb-4">Mission</h2>
      <p class="text-lg leading-relaxed font-semibold">
        Provide personalized guidance on health coverage, offering reliable and
        accessible solutions that ensure the well-being of individuals and their
        families.
      </p>
    </div>

    <div>
      <h2 class="text-4xl font-bold mb-4">Vision</h2>
      <p class="text-lg leading-relaxed font-semibold">
        To be leaders in the health insurance sector, standing out for human
        quality, transparency, and commitment to the comprehensive health of our
        members.
      </p>
    </div>
  </div>

  <!-- Values -->
  <div class="flex flex-col items-center md:items-start gap-6">
    <h2 class="text-2xl font-bold tracking-wide">VALUES</h2>
    <div class="flex flex-wrap justify-center md:justify-start gap-3">
      {values.map((value) => <Badge label={value} />)}
    </div>
  </div>
</section>
